{{ block title }}
    Merci !
{{ endblock }}

{{ block content }}
<div>
    <p>
        Vous avez fini la première partie de cette expérience, nous vous remercions pour votre participation.
    </p>
    <p>
        Votre rémunération va apparaître ici le {{ result_time }}.
        Une nouvelle page s'affichera automatiquement.
    </p>
</div>
{{ if not participant.label }}
{{ next_button }}
{{ endif }}

{{ endblock }}
