{{ block title }}
    Merci !
{{ endblock }}
{{ block content }}
<div id="not_started_content"  style="display:none">
    <div class="page">
    <p>
        Vous avez fini la première partie de cette expérience, nous vous remercions pour votre participation.
    </p>
    <p>
        Votre rémunération va apparaître le {{expirydate}}.
        Une nouvelle page s'affichera automatiquement.
    </p>
    </div>

<br><br>

</p>
<p id=waitinfo></p>
</div>

<div id="wait_page_shows" class="position-absolute start-50 translate-middle ">Veuillez patienter...</div>
<br>

<button id="buttonnext" style="display:none" class="nexttab btn-primary btn next"> Continuer</button>
<script>
var allowPost=1;
var ajaxInterval;
var nerrors=0;
var folder="{{ folder }}"
var participant_label="{{ participant_label }}".replace(/\s/g,"");
function checkSession()
{
	if(allowPost) {
	allowPost=0;
	$.ajaxSetup({
		crossDomain: true
	});
	$.post("https://s2ch-experiences.huma-num.fr/enligne/expe/"+folder+"/checksession.php",
			{ name:participant_label },
			function(data,textStatus){
				// alert(data);
				if(textStatus=="success") {
                  var adata=data.split(";");
				  if(adata.length<2 || adata[0]!="open") {
					$('#wait_page_shows').hide();
					$('#not_started_content').show();
					$('.otree-title').css({'visibility':'visible'});
				  }
                  if(adata.length!=2 && adata.length!=3) $("#waitinfo").html("Une erreur est survenue. Veuillez contacter l'expérimentateur. Message du serveur : "+data);
                  else {
                   	 if(adata[0]=="open") {
						clearInterval(ajaxInterval);
                        $('#buttonnext').show();
                        $('#buttonnext').trigger('click');
                        return;
                     }
                  	 if(adata[0]=="closed") {
						clearInterval(ajaxInterval);
                        $("#waitinfo").html("Cette session expérimentale est déjà terminée. Vous pouvez fermer votre navigateur.");
                        return;
                     }
                  	 if(adata[0]=="error" || adata[0]=="notfound") {
                        $("#waitinfo").html("Une erreur est survenue. Avez-vous utiliser un lien complet?");
						console.debug(adata);
                     }
                  	 if(adata[0]=="notstarted") {
                        var linkinfo=""; var supinfo="";
                        if(adata.length>2) {
                          var alinfo=adata[2].split(':');
                          var ltitle=alinfo.shift();
                        if(ltitle=="StillWait" && alinfo.length>0) { linkinfo="<center>Vous pouvez fermer la page et continuer l'expérience à l'heure de la deuxième session en utilisant le lien que vous avez reçu dans le mail de confirmation et de rappel.<br>Si vous rester sur la page, l'expérience va démarrer automatiquement dans <br> "+(alinfo.join(":"))+"</center>";
							supinfo=""; }
                        }
                        $("#waitinfo").html(linkinfo);
                     }
                    }
				}
				allowPost=1;

			},"text").fail(function( jqXHR, textStatus, error) {$('#wait_page_shows').hide(); $('#not_started_content').show(); $('.otree-title').css({'visibility':'visible'}); $("#waitinfo").html("Veuillez vérifier votre connexion...");  console.debug(error); if(nerrors<10) allowPost=1; nerrors++;});
	}
}
$(document).ready(function() {
  if(participant_label!="") {
	$('.otree-title').css({'visibility':'hidden'});
	ajaxInterval=setInterval("checkSession()",1000);
 }
  else {
	$('#wait_page_shows').hide();
	$('#not_started_content').show();
	$('#buttonnext').show();
  }

});

</script>
{{ endblock }}
