{{ block title }}
    Merci !
{{ endblock }}

{{ block content }}
<div>
    <p>
        Vous avez fini l'expérience, nous vous remercions pour votre participation.
    </p>
    <p>
        Vous avez gagné {{ participant.payoff_plus_participation_fee() }} lors de cette expérience.
    </p>
</div>
{{ if participant.label }} 
<p>Veuillez cliquer que le bouton Suivant pour être redirigé(e) vers le système de paiement. Vous devrez remplir le formulaire des coordonnées bancaires (IBAN) et signer (électroniquement) le reçu de gratification.</p>
{{ next_button }}
{{ endif }}
{{ endblock }}
