<section>
    <h3>Your Code</h3>
<p>
    Our algorithm has generated the following code for you: <b>{{ sequence }}</b>.
</p>
</section>
<section>
    <h3>Rules</h3>
<p>
It is a bet over whether each of the 5 numbers of tomorrow's draw of the <a href="https://dclottery.com/games/dc-5" target="_blank" rel="noopener noreferrer">DC-5 Lottery</a> is either Odd or Even  (the draw of the {{ session.lottery_time }}, in Washington DC time zone). 
</p>
<p>
For each number, you get one point if your code is correct. We will rank all participants to the experiment by the number of points they got (we expect around {{ participant.x_participants }} participants today).
</p>
<p>
If you are among the first half, you win. If you are among the second half, you lose.<sup><a href="#fn1" id="r1">1</a></sup>
</p>

<div class="center">
    {{ next_button }}
</div>
</section>
<section>
<p id="fn1" class="footnote"><a href="#r1">1</a>: If there is a tie among players, we will look first at those who got the first digit right.
    Then, if there is still a tie, the second only, etc.
    In the unlikely event that a tie remains at the end, we use a tie-breaking procedure based on your time of arrival.
    You can find the details <a href="{{ static "global/Tie-Breaking.html" }}">here</a>.
</p>
</section>