<style>
    #algorithm {
        display: none;
    }
</style>

<p>
    We have recorded the time of arrival of all participants to this experiment (in Washington DC time zone). 
    Yours is: {{ time }}.
</p>
<p>
    For each player we will record the five last digits, that we denote as your "code". 
    In your case: {{ participant.arrival_code }}.
</p>
<p>
    We have developped an algorithm ranking all participants based on their code.
    Among others, it takes into account wether your code is above or below the median. 
    You can read  the details of the algorithm by clicking on this button.
</p>
<div class="center">
    <button onclick="myFunction()" class="otree-btn-next btn btn-primary" type="button">Details</button>
</div>
<div id="algorithm">
                <p>
    
    We use the following algorithm to rank the arrival times:

    <ul>
        <li> We will count for all the players in the experiment the number n of odd digits od the code, with 0 counting as even.
            In your case, the number of odd digits is n = {{ even }}.
        </li>
        <li>
            We will then rank everyone according to the number n (a higher n yield a higher rank). 
            We call this rank your "code rank".
        </li>
        <li>
            For the tied players with the same number n of odd digits, we  rank them by the statistical frequency of the first digit of the "code". 
            We will give a higher rank to those with the lowest frequency, then to the second lowest one, until there are no more number left (tied frequencies are bundled together).
            If there is still a tie, we repeat the same procedure with the second digit of the code.
            And so till the last digit.
        </li>
        <li>
        We then determine the winner as follows:
            <ol>
                <li>
                    CASE 1: If strictly more players have n < 2.5 than n > 2.5 (i.e., if the median is below 2.5): your award rank is the same as your code rank. 
                All the 50% higher ranked players in the award rank win the reward.
                </li>
                <li>
                CASE 2: If strictly fewer players have n < 2.5 than n > 2.5 (i.e., if the median is above 2.5): your award rank is the revert of the code rank. If there are N participants and your code rank was j, then your award rank is N+1-j.
                All the 50% higher ranked players in the award rank win the reward.
                </li>
            </ol>
        <li>
            In the unlikely event that a tie remains at the end of the procedure, exactly at the 50% mark, all tied players will receive a reward.
        </li>
        </ul>
                    </p>
</div>
<script>
function myFunction() {
  var x = document.getElementById("algorithm");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
<br/>
<div class="center">
    {{ next_button }}
</div>
