<p>
We ask you to guess whether the 5 numbers of tomorrow's draw of the <a href="https://dclottery.com/games/dc-5" target="_blank" rel="noopener noreferrer">DC-5 lottery<a> are Odd or Even (the draw of the {{ session.lottery_time }}, in Washington DC time zone).
</p>
<p>    
    For each number, you get one point if you guessed properly. 
    We will rank all participants to the experiment (we expect around {{ x_participants }} participants today) by the number of points they got. 
    If you are among the first half, you win.
    If you are among the second half, you lose. 
    In case of a tie, we use a tie-breaking rule.<sup><a href="#fn1" id="r1">1</a></sup>
    </p>
<p>
    For each number, please indicate your choices

    {{ formfield 'lottery_choice1' }}

    {{ formfield 'lottery_choice2' }}

    {{ formfield 'lottery_choice3' }}

    {{ formfield 'lottery_choice4' }}

    {{ formfield 'lottery_choice5' }}
</p>
    
<div class="center">
    {{ next_button }}
</div>

<section>
    <p id="fn1" class="footnote"><a href="#r1">1</a>: If there is a tie among players, we will look first at those who got the first digit right.
    Then, if there is still a tie, the second only, etc.
    In the unlikely event that a tie remains at the end, we use a tie-breaking procedure based on your time of arrival.
    You can find the details  <a href="{{ static "global/Tie-Breaking.html" }}">here</a>.
    </p>
    </section>