<p>One of the two experimenters, Renaud (below), has chosen 5 pairs of paintings, each pair by the same artist.</p>
<p class="center">
    <img src="{{ static 'Algorithms/renaud.jpg' }}" width="20%" height="auto" alt="Renaud Foucart">
</p>
<p>
The second experimenter, Elias (below), has chosen in each pair his favourite painting.   
</p>
<p class="center">
    <img src="{{ static 'Algorithms/elias.jpg' }}" width="20%" height="auto" alt="Elias Bouacida">
</p>
<p>
    Your aim is to guess the paintings Elias has chosen. The images Elias has selected are in this <a href ="{{ static 'Algorithms/Images_Selected_Elias.pdf'}}" download="ImagesSelected.pdf">file</a>. The file is protected by a strong password that we will reveal with the results of the experiment.
</p>
<p>
    We rank participants according to the number of paintings they have guessed correctly.   
    The first half gets the reward  (we expect around {{ x_participants }} participants today).<sup><a href="#fn1" id="r1">1</a></sup> 
</p>


<table class="table">
    <tr>
        <th colspan="2" class="center">Between these two paintings, which one do you think Elias has chosen?</th>
    </tr>
    <tr>
        <td width="50%">
            <img src="{{ static painting10 }}" width="100%" height="auto">
        </td>
        <td wdith="50%">
            <img src="{{ static painting11 }}" width="100%" height="auto">
        </td>
    </tr>
    <tr>
        {{ for choice in form.criteria_choice1 }}
            <td class="center">{{choice}}</td>
        {{ endfor }}
    </tr>  
</table>
<br/>

<table class="table">
    <tr>
        <th colspan="2" class="center">Between these two paintings, which one do you think Elias has chosen?</th>
    </tr>
    <tr>
        <td width="50%">
            <img src="{{ static painting20 }}" width="100%" height="auto">
        </td>
        <td wdith="50%">
            <img src="{{ static painting21 }}" width="100%" height="auto">
        </td>
    </tr>
    <tr>
        {{ for choice in form.criteria_choice2 }}
            <td class="center">{{choice}}</td>
        {{ endfor }}
    </tr> 
</table>
<br/>
<table class="table">
    <tr>
        <th colspan="2" class="center">Between these two paintings, which one do you think Elias has chosen?</th>
    </tr>
    <tr>
        <td width="50%">
            <img src="{{ static painting30 }}" width="100%" height="auto">
        </td>
        <td wdith="50%">
            <img src="{{ static painting31 }}" width="100%" height="auto">
        </td>
    </tr>
    <tr>
        {{ for choice in form.criteria_choice3 }}
            <td class="center">{{choice}}</td>
        {{ endfor }}
    </tr>  
</table>
<br/>
<table class="table">
    <tr>
        <th colspan="2" class="center">Between these two paintings, which one do you think Elias has chosen?</th>
    </tr>
    <tr>
        <td width="50%">
            <img src="{{ static painting40 }}" width="100%" height="auto">
        </td>
        <td wdith="50%">
            <img src="{{ static painting41 }}" width="100%" height="auto">
        </td>
    </tr>
    <tr>
        {{ for choice in form.criteria_choice4 }}
            <td class="center">{{choice}}</td>
        {{ endfor }}
    </tr>  
</table>
<br/>
<table class="table">
    <tr>
        <th colspan="2" class="center">Between these two paintings, which one do you think Elias has chosen?</th>
    </tr>
    <tr>
        <td width="50%">
            <img src="{{ static painting50 }}" width="100%" height="auto">
        </td>
        <td wdith="50%">
            <img src="{{ static painting51 }}" width="100%" height="auto">
        </td>
    </tr>
    <tr>
        {{ for choice in form.criteria_choice5 }}
            <td class="center">{{choice}}</td>
        {{ endfor }}
    </tr>   
</table>
<div class="center">
    {{ next_button }}
</div>

<section>
<p id="fn1" class="footnote"><a href="#r1">1</a>: In case of tie, we use the first couple of paintings, then the second and so on.
    In the unlikely event that a tie remains, we use a tie-breaking procedure based on your time of arrival.
    You can find the details <a href="{{ static "global/Tie-Breaking.html" }}">here</a>.</p>
    
</section>