<section>
<p>
    Rock-paper-scissors (RPS) is game originating from ancient China.
    Its rules are simple.
    You have to choose one of three actions: Rock, Paper or Scissors.
    Your opponent also has to choose one of these three actions.
    Then:
    <ul>
        <li>Rock smashes Scissors;</li>
        <li>Scissors cuts Paper;</li>
        <li>Paper covers Rock;</li>
        <li>If both of you choose the same action, it is a tie.</li>
    </ul>
</p>
<p>
    We ask you to provide us with a sequence of 5 actions of RPS.
    At the end of the day, we will play your actions against all other participants to the experiment  (we expect around {{ x_participants }} participants today).
    The game will be such that each time your first action is pitted against your opponent's first action, your second action against their second action, and so on.
    The rules for winning are simple: each time your action beats the opponent's action, you gain 1 point.
    If your action is beaten, however, you lose 1 point.
    In case of a tie, nothing happens.
</p>
<p>
    The points are then summed up,  you win if:
    <ul>
        <li>You have a positive number of points, which means you have won more often than your opponent;</li>
        <li>Your number of point is null (i.e., you and your opponent have won the same number of rounds) and you have won the tie breaking rule.<sup><a href="#fn1" id="r1">1</a></sup>  
        </li>
    </ul>
</p>
<p>
    We will then rank all participants according to the number of wins. 
    In case of tie, we use the result of the games among tied players only. 
</p>

<p>

    {{ formfield 'criteria_choice1' label="For the first round, which action do you want to choose?" }}

    {{ formfield 'criteria_choice2' label="For the second round, which action do you want to choose?" }}

    {{ formfield 'criteria_choice3' label="For the third round, which action do you want to choose?" }}

    {{ formfield 'criteria_choice4' label="For the fourth round, which action do you want to choose?" }}

    {{ formfield 'criteria_choice5' label="For the fifth round, which action do you want to choose?" }}
</p>

<div class="center">
    {{ next_button }}
</div>
</section>
<section>
    <p id="fn1" class="footnote"><a href="#r1">1</a>: The winner of the tie-breaking rule is the first winner of a round. 

        In the unlikely event where you and your opponent have chosen exactly the same strategy, we use a tie-breaking procedure based on your time of arrival. 
        You can find the details <a href="{{ static "global/Tie-Breaking.html" }}">here</a>.
    </p>
</section>
