{{ block title }}
Welcome!
{{ endblock }} 

{{ block content }}

<p>
    Thank you for participating in this experiment! 
    You will receive a payment of at least {{ Constants.fee }} for your participation.
</p>

<p>
    The experiment is divided into three stages. 
    Your choices in each of these stages may increase your total earnings.
    <ol>
        <li>
    {{ if participant.criteria == "Rock, Paper, Scissors" }}
        {{ if participant.control }}
            In the first stage, you will choose five actions in a Rock-Paper-Scissors game (RPS hereafter) and guess five numbers for tomorrow's draw of the <a href="https://dclottery.com/games/dc-5" target="_blank" rel="noopener noreferrer">DC-5 Lottery</a> (the draw of the {{ session.lottery_time }}, in Washington DC time zone).
        {{ else }}
            In the first stage, you will choose five actions in a Rock-Paper-Scissors game (RPS hereafter).
        {{ endif }}
    {{ endif }}
    {{ if participant.criteria == "Arrival Time" }}
        {{ if participant.control }}
            In the first stage, you will guess five number for tomorrow's draw of the <a href="https://dclottery.com/games/dc-5" target="_blank" rel="noopener noreferrer">DC-5 Lottery</a> (the draw of the {{ session.lottery_time }}, in Washington DC time zone).
        {{ else }}
            In the first stage, we will introduce two methods.
        {{ endif }}
    {{ endif }}
    {{ if participant.criteria == "Guessing the Paintings"}}
        {{ if participant.control }}
            In the first stage, you will choose five paintings and guess five number for tomorrow's draw of the <a href="https://dclottery.com/games/dc-5" target="_blank" rel="noopener noreferrer">DC-5 Lottery</a> (the draw of the {{ session.lottery_time }}, in Washington DC time zone).        
        {{ else }}
            In the first stage, you will choose five paintings.
        {{ endif }}
    {{ endif }}
        </li>
        <li>In the second stage, you will choose between two options that may give you a reward of {{ Constants.reward }}. Your chances of getting the reward will depend on your choices in stage 1.
        </li>
        <li> In the third stage, we will ask you some questions regarding your demographics and your previous choices. By answering these questions, you may earn {{ stage3_earnings }}.</li>
    </ol>
</p>
<p>
    For transparency, we will publish all choices and results suitably anonymized tomorrow the {{ session.result_time }} on a website hosted by Lancaster University: <a href="https://wp.lancs.ac.uk/lexelresults/" target="_blank" rel="noopener noreferrer">Results</a> (in Washington D.C. time zone).
    Your anonymous identifier to see your results is <b>{{ participant.code }}</b>.
</p>
<p>
    <b>Please note that once you have clicked the next button on a page, you won't be able to go back and change your answers.
        In other words, once validated, your answers are definitive.    </b>
</p>
    
{{ next_button }}

{{ endblock }} 
