{{ block title }}
    Thank You!
{{ endblock }}

{{ block content }}

You have completed this experiment, thank you for participating!
Your completion code is <b>2021EXPERIMENT</b>.

Your reward will be paid on your M-Turk account in the next 3 days, after the results of the lottery are computed.
If you want to see the details of your reward, they will be visible on a website hosted by Lancaster University <a href={{ page }} target="_blank" rel="noopener noreferrer">page</a> tomorrow the {{ session.result_time }}  (in Washington DC time zone).
The experiment you participated in is Experiment {{ experiment }}.
Please remember this unique anonymous identifier to check your results: <b>{{ participant.code }}</b>
{{ endblock }}
