{{ extends "global/Page.html" }}

{{ block title }}
    Voting for the Mechanism
{{ endblock }}

{{ block content }}

    <p>
        You can now vote on whether you prefer to win the reward of  {{ Constants.reward }} according to:
    </p>
    <ul>
        <li>{{ if participant.control }}
                The results of your guess on the 5 digits of tomorrow's DC-5 Lottery.
            {{ else }}
                The results of your random 5 digits code against tomorrow's DC-5 Lottery.
            {{ endif }}
            {{ if participant.criteria == "Rock, Paper, Scissors" and not participant.rps_winner }}
            <b>You win if you are among the <u>first half</u> of all participants of today's experiment.</b>
            {{ endif }}
        </li>
        <li>{{ if participant.criteria == "Guessing the Paintings" }}
                The results from your painting choices.
            {{ elif participant.criteria == "Arrival Time" }}
                The results of the ranking based on your time of arrival.
            {{ else }}
                The results from your RPS sequence of actions.
                {{ if participant.criteria == "Rock, Paper, Scissors" and not participant.rps_winner }}
            <b>You win if you are among the <u>second half</u> of all participants of today's experiment.</b>
                {{ endif }}
            {{ endif }}
        </li>
    </ul>
    <p>
        {{ if not participant.criteria == "Rock, Paper, Scissors" or participant.rps_winner }}
        In both cases, <b>you win if you are among the <u>first half</u> of all participants of today's experiment.</b>
        {{ endif }}
    </p>

    <p>
        Your reward will be based on the mechanism that receives the highest number of votes among the participants of today's experiment.
        In the unlikely event of a tie, we will implement the choice of the first voter of the day. 
    </p>
    {{ formfield player.mechanism }}
    {{ next_button }}

{{ endblock }}
