{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Choosing How you Win a Reward{% endblock %}

{% block content %}

<p>
    You can now choose if you win the reward of {{ Constants.reward }} according to a {{ coin }} or {{ rps }}.
    Each determines if you win the reward differently:
    <ul>
        <li> The results of a {{ coin }}, which gives you a 50% odds of winning;<sup><a href="#ft1" id="r1">1</a></sup></li>
        <li> The results from your RPS sequence of actions against <b>one</b> of the 2,500 past RPS players, <b>each with equal odds</b>.
        {% if player.knowledge %}
            Your sequence gives you a {{ p }}% odds of winning.
            This percentage is computed by playing your sequence of actions against the 2,500 we have gathered previously.
            It is the proportion of games you win.
        {% endif %}
        {% if player.ability %}
            Your odds of winning the RPS depends on how well your chosen actions performed against past RPS players.
        {% endif %}
        </li>
    </ul>
</p>

<p id="ft1"><a href="#r1">1:</a> The computer draws the coin toss as follows: using a random number generator, it generates 0 and 1 with equal odds.
If it is a 0, you lose, if it is a 1, you win.</p>

{% formfield player.mechanism %}

{% next_button %}

{% endblock %}
