{{ extends "global/Page.html" }}

{{ block title }}
    Winning in {{ title }}
{{ endblock }}



{{ block content }}
<div>
   <p>
    {{ if player.round_number == 1}} 
       <b>One of the next three</b> questions will be randomly selected for payment.
       {{ endif }}
    </p>
</div>
<div>
<p>
            If this question is selected for payment, you can earn an additional {{ Constants.small_win }} if your guess is correct (and {{ 0|cu }} otherwise).<sup><a href="#fn1" id="r1">1</a></sup>
</p>
    {{ if player.criteria }}
        {{ if participant.criteria == "Arrival Time" }}
            <p>
            The code you have been given is {{ participant.arrival_code }}.
            We will rank your performance according to the algorithm described <a href="{{ static "global/Arrival.html" }}">here</a>.
        </p>
        {{ elif participant.criteria == "Guessing the Paintings" }}
            <p>
            You have chosen the sequence of paintings:
</p>
<p>
                <img src="{{ static painting1 }}" width="19%" height="auto">
                <img src="{{ static painting2 }}" width="19%" height="auto">
                <img src="{{ static painting3 }}" width="19%" height="auto">
                <img src="{{ static painting4 }}" width="19%" height="auto">
                <img src="{{ static painting5 }}" width="19%" height="auto">
</p>
            We will rank your performance according to the algorithm described <a href="{{ static "global/Paintings.html" }}">here</a>.

        {{ else }}
            You chose the sequence of strategies in Rock, Paper, Scissors: {{ choices }}. 
            We will rank your performance according to the algorithm described <a href="{{ static "global/RPS.html" }}">here</a>.
        {{ endif }}
        We will play your sequence against all other participants of today's experiment and rank all of the participants according to the sequence.
    {{ else }}
        {{ if participant.control }}
            You chose the sequence of guesses {{ choices }} for the DC-5 Lottery. 
            We will play the accuracy of your guesses against all other participants of today's experiment, according to the algorithm described <a href="{{ static "global/Lottery.html" }}">here</a>.
        {{ else }}
            Your sequence of guesses for the DC-5 lottery is {{ choices }}.
            We will rank its performance in guessing the DC-5 lottery results against all other codes of participants of today's experiment, according to the algorithm described <a href="{{ static "global/Lottery.html" }}">here</a>.
        {{ endif }}
    {{ endif }}
</div>
<div>
<table class="table">
     <tr>
        <th colspan="2" class="center">{{ form.belief.label }}</th>
    </tr>
    <tr>
        {{ for choice in form.belief }}
        <td class="center">
            {{ choice.label }}
        </td>
        {{ endfor }}
    </tr>
    <tr>
        {{ for choice in form.belief }}
            <td class="center">{{ choice }}</td>
        {{ endfor }}
    </tr>  
</table>
</div>

<div class="center">
    {{ next_button }}
</div>

<div>
<p id="fn1" class="footnote"><a href="#r1">1</a>: If you are ranked exactly in the middle, you will earn the reward no matter which option you choose.
    </p>
</div>
{{ endblock }}
