{{ extends "global/Page.html" }}

{{ block title }}
    Winning the Reward
{{ endblock }}



{{ block content }}
<div>        If this question is selected for payment, you can earn an additional {{ Constants.small_win }} if you guess in which mechanism you are ranked higher (and {{ 0|cu }} otherwise).<sup><a href="#fn1" id="r1">1</a></sup>
</div>
<div>
    <p>
        We have previously described to you two mechanisms, the DC-5 Lottery (details <a href="{{ static "global/Lottery.html" }}">here</a>) and {{ participant.criteria }} (details  <a href="{{ static criteria_link }}">here</a>).

</p>
        {{ formfields }}
</div>
<div class="center">
    {{ next_button }}
</div>
<section>
    <p id="fn1" class="footnote"><a href="#r1">1</a>: If you have exactly the same rank in both mechanisms, you will earn the reward no matter which mechanism you choose.
        </p>
</section>   
{{ endblock }}
