
<script src="https://assets.crowd.aws/crowd-html-elements.js"></script>

<crowd-form>
  <div style="padding: 20px">
      <p>
          This HIT is an academic experiment that we,
          <a href="mailto:e.bouacida@lancaster.ac.uk" title="e.bouacida@lancaster.ac.uk">Elias Bouacida</a> and
          <a href="mailto:r.foucart@lancaster.ac.uk" title="r.foucart@lancaster.ac.uk">Renaud Foucart</a>,
          two researchers at Lancaster University, United Kingdom are making.
          <b>The experiment should take you around 5 minutes to complete.</b>
          It has been approved by our Ethical Review Board.
          If you need to, you can contact our head of department
          <a href="mailto:m.zanardi@lancaster.ac.uk" title="m.zanardi@lancaster.ac.uk">Maurizio Zanardi</a>.
          After completing this HIT, <b>you will earn a fixed reward of $0.70 plus a bonus payment</b> that depends on
          your answers in the experiment.
          Your total payment will be comprised between $0.70 and $2.30.
          The <b>average payment</b> for participants in the experiment <b>is $1.45.</b>
      </p>
      <p>
          <b>All the data of the experiment is anonymized, so no one will be able to track your answers.</b>
          In particular, we will not keep your worker ID once the payment has been done, in agreement with the
          requirement in Recital 26 of the EU GDPR.
          It requires that personal data is rendered anonymous in such a manner that the data subject is not or no
          longer identifiable.
          Be aware, however, that we may share the anonymized data set obtained from all the answers in the experiment,
          as it is a common practice for transparency purposes in research.
          This data will be always stored on a computer whose access is protected by a password.
      </p>

      <p>
          At some point in the experiment, part of your bonus payment may depend on the result of a randomization
          device.
          The randomization is provided by third-party software and we do not have access to it during the time of the
          experiment.
          Our algorithm has been reviewed and approved by the Faculty of Arts and Social Sciences and Lancaster
          University Management School’s Research Ethics Committee.
          We are happy to provide a copy of the algorithm upon simple request to
          <a href="mailto:e.bouacida@lancaster.ac.uk" title="e.bouacida@lancaster.ac.uk">Elias Bouacida</a> or
          <a href="mailto:r.foucart@lancaster.ac.uk" title="r.foucart@lancaster.ac.uk">Renaud Foucart</a>.
      </p>

      <p>
          After you have accepted this HIT, the URL to the study will appear here: <b><a class="otree-link">link</a></b>.
      </p>
      <p>
          On the last page, you will be given a completion code.
          Please copy/paste that code below.
      </p>

      <crowd-input name="completion_code" label="Enter your completion code here" required></crowd-input>
      <br>
  </div>
</crowd-form>