{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Why?{% endblock %}

{% block content %}

{% formfield player.reasons label=reasons_label %}

<p>
    {% if player.knowledge == False %}
    You chose the sequence of actions {{ player.round1 }}, {{ player.round2 }}, {{ player.round3 }},
    {{ player.round4 }}, and {{ player.round5 }}.
    Out of the 2,500 past RPS players you may play against, against how many do you think your sequence of 5 actions
    wins?
    You will earn {{ Constants.small_win }} if your guess is correct.
    <b>Please choose a number between 0 and 2500.</b>
    
    {% formfield player.belief %}
    {% endif %}
</p>

{% next_button %}

{% endblock %}
