{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Rock, Paper, Scissors{% endblock %}

{% block content %}

<p>
    Rock-paper-scissors (RPS) is an old game 
    {% if player.ability %}
		of strategy
	{% else %}
		of luck
    {% endif %}
       originating from ancient China. 
	{% if player.ability %}
	RPS is also a well-studied game in biology, psychology, and artificial intelligence. 
	In international competitions, some players consistently outperform the others. 
	Computer scientists have produced algorithms able to exploit the predictable behaviour of human players and win more often against them. 
	{% endif %}
	Its rules are simple, you have to choose one of three actions: Rock, Paper or Scissors.
	Your opponent also has to choose one of these three actions.
	Then:
	<ul>
		<li>Rock smashes Scissors;</li>
		<li>Scissors cuts Paper;</li>
		<li>Paper covers Rock;</li>
		<li>If both of you choose the same action, it is a tie.</li>
	</ul>
</p>
<p>

	We have compiled real-world actions of human players corresponding to 2,500 games of Rock, Paper, Scissors.
	We ask you to provide us with a sequence of 5 actions.
	The computer will then select <b>at random with equal odds</b> one sequence out of the 2,500 games we have gathered.
	It will be your opponent's sequence.
	The game will be such that your first action is pitted against your opponent's first action, your second action against their second action, and so on.
	The rules for winning are simple: each time your action beats the opponent's action, you gain 1 point.
	If your action is beaten, however, you lose 1 point.
	In case of a tie, nothing happens.
</p>
<p>
	The points are then summed up,  you win if:
	<ul>
		<li>You have a positive number of points, which means you have won more often than your opponent;
		<li>Your number of points is null (i.e., you and your opponents have won the same number of rounds) and:
		<ul>
			<li>You won the first round;</li>
			<li>The first round is a tie and you won the second round;</li>
			<li>The first two rounds are a tie and you won the third round;</li>
			<li>The first three rounds are a tie and you won the fourth round;</li>
			<li>The first four rounds are a tie and you won the fifth round.</li>
		</ul>
		<li>If all the rounds are a tie and you spend an even number of seconds on this screen.
	</ul>
	{% if player.ability %}
		The best players are those able to understand the way the human brain works.
		Are you one of them?
	{% endif %}
</p>

{% formfield player.round1 %}

{% formfield player.round2 %}

{% formfield player.round3 %}

{% formfield player.round4 %}

{% formfield player.round5 %}


{% next_button %}

{% endblock %}
