{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Welcome!{% endblock %}

{% block content %}

<p>
    Thank you for participating in this experiment!
    You will receive a payment of at least {{ fee }} for your participation.
</p>
<p>
    The experiment is divided into three stages.
    Your choices in each of these stages may increase your total earnings.
    <ol>
        <li>In the first stage, you will choose five actions in a Rock-Paper-Scissors game (RPS hereafter).</li>
        <li>In the second stage, you will choose between two options that may give you a reward of {{ Constants.reward }}.</li>
        <li>In the third stage, we will ask you some questions regarding your demographics and your previous choices.
            By answering these questions, you may earn twice {{ Constants.small_win }}.</li>
    </ol>
</p>



{% next_button %}

{% endblock %}
