{% load otree %}

<h3>Coin Tosses wins</h3>
<p>
    You chose the sequence of actions {{ player.ct_round1 }}, {{ player.ct_round2 }}, {{ player.ct_round3 }},
    {{ player.ct_round4 }}, and {{ player.ct_round5 }}.
    On average, how many points do you expect to win?
    Remember that, for each round, you win 1 point per victory and lose 1 per loss.
    You will earn {{ Constants.small_win }} if your guess is correct.
    <b>Please choose a <em>decimal</em> number between -5 and 5.</b>
    Examples of possible answers include {{ player.belief_example1 }}, {{player.belief_example2}}, or
    {{ player.belief_example3 }}.

    {% formfield player.ct_belief %}
</p>
