{% load otree %}

<h3>Coin Toss</h3>

<p>
	You will play a modified variant of Coin Toss.
	You have to choose 5 actions, either head or tail.
	The computer will also choose <b>at random with equal odds</b> five times between head and tail.
	Your aim is to guess what the computer has chosen.
	Your first action is played against the computer's first, your second against its second's, and so on.
</p>
<p>
	Each time your guess is correct, you gain one point, each time it is incorrect, you lose one point.
	You win if you have a positive number of points.
	Note that in this game, because there are five rounds, a tie is impossible.
</p>
<p>
	Please choose your 5 actions:

	{% formfield player.ct_round1 %}

	{% formfield player.ct_round2 %}

	{% formfield player.ct_round3 %}

	{% formfield player.ct_round4 %}

	{% formfield player.ct_round5 %}
</p>
