{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Summary of Your Payments{% endblock %}

{% block content %}

<p>
    You have completed this experiment, thank you for participating!
    Your completion code is <b>RANDOMIZATION2020</b>.
</p>
<p>
    In total, you have won {{ earning }}, divided as follows:
    <ul>
        <li>{{ fee }} from your participation fee;</li>
        {% if player.mechanism_winner %}
        <li>{{ Constants.reward }} because you won
            {% if coin %}
            the coin toss
            {% else %}
            the RPS game
            {% endif %}
            ;
        </li>
        {% endif %}
        {% if player.belief1_winner %}
            {% if player.rps_belief_first %}
                <li>{{ Constants.small_win }} because you correctly guessed the number of past RPS players you won against;</li>
            {% else %}
                <li>{{ Constants.small_win }} because you correctly guessed the average number of points you made in the Coin Toss game;</li>
            {% endif %}
        {% endif %}
        {% if player.belief2_winner %}
            {% if player.rps_belief_first %}
                <li>{{ Constants.small_win }} because you correctly guessed the average number of points you made in the Coin Toss game;</li>
            {% else %}
                <li>{{ Constants.small_win }} because you correctly guessed the number of past RPS players you won against;</li>
            {% endif %}
        {% endif %}
    </ul>
</p>

{% endblock %}
