{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Choosing How you Win a Reward{% endblock %}

{% block content %}

<p>
    You can now choose if you win the reward of {{ Constants.reward }} according to the {{ coin }} or {{ rps }}.
    Each determines if you win the reward differently:
    <ul>
        <li> The results of your guess of the five coin tosses of the computer;<sup><a href="#ft1" id="r1">1</a></sup></li>
        <li> The results from your RPS sequence of actions against <b>one</b> of the 2,500 past RPS players,
            <b>each with equal odds</b>.
        </li>
    </ul>
</p>

<p id="ft1"><a href="#r1">1:</a> The computer plays head or tail as follows: using a random number generator,
    it generates 0 and 1 with equal odds.
If it is a 0, it is a tail, if it is a 1, it is a head.</p>

{% formfield player.mechanism %}

{% next_button %}

{% endblock %}
