{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Choosing your Actions in RPS and CT{% endblock %}



{% block content %}
	<div class="row">
		{% if player.rps_first %}
			<div class="column">
				{% include Constants.rps_instructions %}
			</div>
			<div class="column">
				{% include Constants.ct_instructions %}
			</div>
		{% else %}
			<div class="column">
				{% include Constants.ct_instructions %}
			</div>
			<div class="column">
				{% include Constants.rps_instructions %}
			</div>
		{% endif %}
	</div>

<div class="center">
	{% next_button %}
</div>

{% endblock %}
