{% load otree %}

<h3>Rock, Paper, Scissors wins</h3>
<p>
    You chose the sequence of actions {{ player.rps_round1 }}, {{ player.rps_round2 }}, {{ player.rps_round3 }},
    {{ player.rps_round4 }}, and {{ player.rps_round5 }}.
    If you had to play against all the 2,500 RPS players we have compiled,
    on average, how many points do you expect to win?
    Remember that, for each round, you win 1 point per victory and lose 1 per loss.
    You will earn {{ Constants.small_win }} if your guess is correct.
    <b>Please choose a <em>decimal</em> number between -5 and 5.</b>
    Examples of possible answers include {{ player.belief_example1 }}, {{player.belief_example2}}, or
    {{ player.belief_example3 }}.

    {% formfield player.rps_belief %}
</p>


