{{ extends "global/Page.html" }}

{{ block title }}Apprenons à nous connaître{{ endblock }}

{{ block content }}

<p>
    Répondez s'il vous plaît aux questions suivantes.
</p>

{{ formfield 'age' }}
{{ formfield 'gender' }}
{{ formfield 'employment' }}




<div class="center">
{{ next_button }}
</div>

{{ endblock }}
