{{ extends "global/Page.html" }}

{{ block title }}Apprenons à nous connaître (suite){{ endblock }}

{{ block content }}

<p>
    Répondez s'il vous plaît aux questions suivantes.
</p>

<table class="table">
    <tr>
        <th>Êtes-vous d'accord ou pas avec les affirmations suivantes.</th>
        <th>Pas du tout d'accord</th>
        <th>En désaccord</th>
        <th>Ni d'accord ni en désaccord</th>
        <th>D'accord</th>
        <th>Tout à fait d'accord</th>
    </tr>
        <tr>
            <td>{{ form.success.label }}</td>
            {{ for choice in form.success }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
        <tr>
            <td>{{ form.money.label }}</td>
            {{ for choice in form.money }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
        <tr>
            <td>{{ form.trust.label }}</td>
            {{ for choice in form.trust }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
        <tr>
            <td>{{ form.work.label }}</td>
            {{ for choice in form.work }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
        <tr>
            <td>{{ form.luck.label }}</td>
            {{ for choice in form.luck }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
        <tr>
            <td>{{ form.society.label }}</td>
            {{ for choice in form.society }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
        <tr>
            <td>{{ form.merit.label }}</td>
            {{ for choice in form.merit }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
        <tr>
            <td>{{ form.attention.label }}</td>
            {{ for choice in form.attention }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
        <tr>
            <td>{{ form.understand1.label }}</td>
            {{ for choice in form.understand1 }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
       <tr>
            <td>{{ form.understand2.label }}</td>
            {{ for choice in form.understand2 }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
</table>



<div class="center">
{{ next_button }}
</div>

{{ endblock }}
