<section>
    <h3>Your Paintings</h3>
    Our algorithm has selected the following paintings for you.
    <p>
        <img src="{{ static painting1 }}" width="19%" height="auto">
        <img src="{{ static painting2 }}" width="19%" height="auto">
        <img src="{{ static painting3 }}" width="19%" height="auto">
        <img src="{{ static painting4 }}" width="19%" height="auto">
        <img src="{{ static painting5 }}" width="19%" height="auto">
    </p>
</section>

<section>
    <h3>Rules</h3>
<p>One of the two experimenters, Renaud (below), has chosen 5 pairs of paintings, each pair by the same artist.</p>
<p class="center">
    <img src="{{ static 'Algorithms/renaud.jpg' }}" width="20%" height="auto" alt="Renaud Foucart">
</p>
<p>
The second experimenter, Elias (below), has chosen in each pair his favourite painting.   
</p>
<p class="center">
    <img src="{{ static 'Algorithms/elias.jpg' }}" width="20%" height="auto" alt="Elias Bouacida">
</p>



<table class="table">
    <tr>
        <th colspan="2" class="center">The five pairs of two paintings are below.</th>
    </tr>
    <tr>
        <td width="50%">
            <img src="{{ static 'Algorithms/6_0.jpg' }}" width="100%" height="auto">
        </td>
        <td wdith="50%">
            <img src="{{ static 'Algorithms/6_1.jpg' }}" width="100%" height="auto">
        </td>
    </tr>
    <tr>
        <td width="50%">
            <img src="{{ static 'Algorithms/7_0.webp' }}" width="100%" height="auto">
        </td>
        <td wdith="50%">
            <img src="{{ static 'Algorithms/7_1.webp' }}" width="100%" height="auto">
        </td>
    </tr>
    <tr>
        <td width="50%">
            <img src="{{ static 'Algorithms/8_0.jpg' }}" width="100%" height="auto">
        </td>
        <td wdith="50%">
            <img src="{{ static 'Algorithms/8_1.jpg' }}" width="100%" height="auto">
        </td>
    </tr>
    <tr>
        <td width="50%">
            <img src="{{ static 'Algorithms/9_0.jpg' }}" width="100%" height="auto">
        </td>
        <td wdith="50%">
            <img src="{{ static 'Algorithms/9_1.jpg' }}" width="100%" height="auto">
        </td>
    </tr>
    <tr>
        <td width="50%">
            <img src="{{ static 'Algorithms/10_0.jpg' }}" width="100%" height="auto">
        </td>
        <td wdith="50%">
            <img src="{{ static 'Algorithms/10_1.jpg' }}" width="100%" height="auto">
        </td>
    </tr>
</table>
<br/>

<p>
    The aim is to guess the paintings Elias has chosen. The images Elias has selected are in this <a href ="{{ static 'Algorithms/Images_Selected_Elias2.pdf'}}" download="ImagesSelected.pdf">file</a>. The file is protected by a strong password that we will reveal with the results of the experiment.
</p>
<p>
    We rank participants according to the number of paintings they have guessed correctly.   
    The first half gets the reward  (we expect around {{ x_participants }} participants today).<sup><a href="#fn1" id="r1">1</a></sup> 
</p>
</section>


<div class="center">
    {{ next_button }}
</div>
<section>
<p id="fn1" class="footnote"><a href="#r1">1</a>: In case of tie, we use the first couple of paintings, then the second and so on.
    In the unlikely event that a tie remains, we use a tie-breaking procedure based on your time of arrival.
    You can find the details <a href="{{ static "global/Tie-Breaking.html" }}">here</a>.</p>
    
</section>