<section> 
    <h3>PROCÉDURE {{ player.round_number }}</h3> 
    <div> 
        <p>Veuillez nous indiquer ci-dessous le montant (en points) que nous devrions vous transférer pour accepter d'être dans le GROUPE BLEU.</p>
        <p>Nous placerons  la moitié des participants ({{ C.HALF }} sur les {{ C.X_PARTICIPANTS }} attendus)  qui ont demandé les plus petits montants dans le groupe BLEU. 
            Chacun d'eux recevra le montant exact qu'il a demandé. </p>
        <p> Nous placerons la moitié des participants ({{ C.HALF }} sur les {{ C.X_PARTICIPANTS }} attendus) qui ont demandé les plus grands montants dans le groupe VERT.
            Ils recevront un paiement égal à leur <b>numéro personnel</b>, dans votre cas <b>{{ participant.number | cu }}</b>. 
        </p>
        <p>Nous vous rappelons que tous les participants ont un numéro personnel différent compris entre 1 et {{ C.X_PARTICIPANTS }}. </p>

</div>
</section> 
<div>
<p>Veuillez indiquer le montant (en points) que nous devrions vous transférer pour accepter d'être dans le groupe BLEU si cette procédure est sélectionnée (vous devez choisir un nombre entier entre 0 et {{C.X_PARTICIPANTS}}) : 
    </p> 
</div>