<section> 
    <h3>PROCÉDURE {{ player.round_number }}</h3> 
    <div> 
        <p>Nous placerons les {{ C.HALF }} participants ayant le plus petit numéro personnel dans le groupe BLEU et ceux ayant le plus grand numéro personnel dans le groupe VERT.</p>
        <p>Les participants du groupe BLEU reçoivent un transfert de {{ C.TRANSFER | cu }}.</p> 
        <p>Les participants du groupe VERT reçoivent leur numéro personnel.</p>
        <p>Comme votre numéro personnel est {{ participant.number }}, vous faites partie des {{ C.HALF }} participants du groupe {{ participant.color }}. 
            Vous recevriez donc un paiement de <b>{{ transfer }}</b> avec cette procédure.</p>

</div>
</section>