{{ extends "global/Page.html" }}


{{ block title }}
Description de vos tâches
{{ endblock }} 

{{ block content }}

<section>
    <div> 
        <p> 
            Vous participez à cette expérience au sein d'un groupe d'environ {{ C.X_PARTICIPANTS }} participants. </p>
        <p> 
            Chaque participant recevra une somme fixe de {{ C.FEE | cu}} et une somme variable.
        </p>
        <p>
            Chaque participant reçoit un <b>numéro personnel</b> différent entre 1 et {{ C.X_PARTICIPANTS }}.
            Votre numéro personnel est <b>{{ participant.number }}</b>.
        </p>
        <p>
    Nous souhaitons diviser les participants en deux groupes de taille égale, les groupes VERT et BLEU. La moitié des participants (environ {{ C.HALF }}) seront placés dans le groupe VERT et recevront un paiement en point correspondant à leur numéro personnel. L'autre moitié des participants (environ {{ C.HALF }}) seront placés dans le groupe BLEU et recevront un paiement fixe, indépendant de leur numéro personnel.
</div> 
    <div> 
        <p>Les procédures des pages suivantes déterminent qui appartient à quel groupe ainsi que les paiements.
            Nous vous demanderons ensuite de voter pour votre procédure préférée et nous mettrons en œuvre le choix de la majorité.
        </p>
        <p><b>Veuillez noter qu'une fois que vous avez cliqué sur le bouton "Suivant" sur une page, vous ne pourrez plus revenir en arrière et modifier vos réponses.
            Autrement dit, une fois validées, vos réponses sont définitives. </b>
        </p> 
    </div> 
</section>

<div class="center">
  {{ next_button }}
</div>
{{ endblock }} 
