{{ extends "global/Page.html" }}


{{ block title }}{{ endblock }}



{{ block content }}
<div>
    <p>
        Nous vous demandons maintenant de prendre des décisions dans deux procédures possibles pour placer les participants dans les groupes BLEU et VERT et pour des transferts pour les participants du groupe BLEU.
        Nous vous demanderons ensuite de voter pour votre procédure préférée. 
    </p>
</div> 
    {{ include instructions }}
<div>

{{ formfields }} 

</div>




<div class="center">
    {{ next_button }}
</div>



{{ endblock }}
