{{ block title }} Bienvenue ! {{ endblock }}

{{ block content }}

<p> Nous vous remercions pour votre participation à cette expérience ! 
    Les paiements seront exprimés en points, où {{ 1 | cu}} = {{ conversion }}. 
    Vous recevrez un paiement de {{ C.FEE | cu }} = {{ fee }} pour votre participation aujourd'hui et de {{ C.TOMORROW_FEE | cu }} = {{ tomorrow_fee }} pour votre participation demain.
</p>

<p> L’expérience d'aujourd'hui est divisée en trois étapes. Vos choix à chacune de ces étapes peuvent augmenter vos gains totaux.</p>
<ol> 
    <li>Dans la première étape, vous lirez la description de deux procédures et ferez des choix dans celles-ci. </li> 
    <li>Dans la deuxième étape, vous choisirez entre les deux procédures. Le paiement de cette étape est compris entre 0 et {{ stage2_earnings }} (= {{ stage2_earnings_dol }}). Il dépendra de vos choix à l’étape 1. </li>
    <li>Dans la troisième étape, nous vous poserons des questions sur vous, votre compréhension des procédures, vos choix précédents et vos préférences. En répondant à ces questions, vous pouvez gagner un paiement supplémentaire compris entre 0 et {{ stage3_earnings }} (= {{ stage3_earnings_dol }}). </li> 
</ol> 
 <p>Vous aurez accès aux résultat demain le  {{ result_time }} (heure de Paris) sur ce lien.
</p> 
<p> <b>Veuillez noter qu’une fois que vous avez cliqué sur le bouton suivant sur une page, vous ne pourrez plus revenir en arrière et modifier vos réponses. 
    En d’autres termes, une fois validées, vos réponses sont définitives. </b>
</p>
<div class=“center”>
    {{ next_button }} 
</div>
{{ endblock }}