{{ extends "global/Page.html" }}

{{ block title }}
    Vote pour la procédure
{{ endblock }}

{{ block content }}

    <p>
        Vous pouvez maintenant voter pour savoir si vous préférez recevoir votre paiement selon la PROCÉDURE 1 ou la PROCÉDURE 2.
</p>
<ul>
    <li>{{ if participant.mechanisms.0 == "Efficient" }} 
        Dans la PROCÉDURE 1, vous serez dans le groupe {{ participant.color }} et recevrez un montant de {{ transfer }}.
        {{ else }} 
        Vous avez soumis un montant de {{ wta1 | cu }} dans la PROCÉDURE 1. Si ce montant est parmi les {{ C.HALF }} les plus bas soumis par les {{ C.X_PARTICIPANTS }} participants, 
        {{ if participant.mechanisms.0 == "Market" }} vous recevrez un paiement correspondant au {{ market_threshold }} montant soumis le plus bas (groupe BLEU).
        {{ elif participant.mechanisms.0 == "Bargaining" }} 
        vous recevrez un paiement de {{ wta1 | cu }} (groupe BLEU). 
        {{ endif }} 
        Sinon, vous recevrez votre numéro personnel, {{ participant.number | cu}} (groupe VERT).
        {{ endif }}
    </li>
    <li>{{ if participant.mechanisms.1 == "Efficient" }} Dans la PROCÉDURE 2, vous serez dans le groupe {{ participant.color }} et recevrez un montant de {{ transfer }}. 
        {{ else }} 
        Vous avez soumis un montant de {{ wta2 | cu }} dans la PROCÉDURE 2. Si ce montant est parmi les {{ C.HALF }} les plus bas soumis par les {{ C.X_PARTICIPANTS }} participants, 
        {{ if participant.mechanisms.1 == "Market" }} vous recevrez un paiement correspondant au {{ market_threshold }} montant soumis le plus bas (groupe BLEU).
        {{ elif participant.mechanisms.1 == "Bargaining" }} vous recevrez un paiement de {{ wta2 | cu }} (groupe BLEU). 
        {{ endif }}
        Sinon, vous recevrez votre numéro personnel, {{ participant.number | cu}} (groupe VERT).   
        {{ endif }}
    </li>

</ul>

    <p>
        La procédure qui sera utilisé pour calculer les paiements sera celle choisit par la majorité des {{ C.X_PARTICIPANTS }} participants.
        En cas d’égalité, nous mettrons en œuvre le choix du premier votant de la journée.
    </p>
    {{ formfields }}
    {{ next_button }}

{{ endblock }}
