{{ extends "global/Page.html" }}

{{ block title }}Choosing Urns and Colors{{ endblock }}

{{ block content }}

<p>
    <br/>
    <img class="displayed" src="{{ static "Questionnaire/Urns.jpg" }}" alt = "Urns" width="50%"/>
    <br/>

    The two urns in the image above contain red and black balls.
    The computer will draw one ball from one of these urns.
    The left urn contains 50 red and 50 black balls.
    The right urn contains 100 red and black balls, but in a proportion only known by the computer.
    You can choose the urn from which the ball is drawn and the colour to bet on.
    You will earn {{ Constants.small_win }} if you bet on the colour drawn (and {{ Constants.loss }} otherwise).
</p>

{{ formfields }}

<div class="center">
{{ next_button }}
</div>
{{ endblock }}
