{{ extends "global/Page.html" }}

{{ block title }}
   Questions à propos des procédures
{{ endblock }}



{{ block content }}
<section>
    <div>
        <p>
            
            {{ formfields }}
        </p>
    </div>
<div class="center">
    {{ next_button }}
</div>
</section>
{{ endblock }}
