{{ extends "global/Page.html" }}

{{ block title }}
    À propos des procédures
{{ endblock }}



{{ block content }}
<div>  
    <p>
    {{ if show_head }}
        {{ if pages == 2 }} Dans les deux prochaines pages, nous vous poserons quelques questions sur les deux procédures. 
            Nous sélectionnerons au hasard l’une des questions sur ces deux écrans et paierons {{ C.INCENTIVE }} si votre réponse est correcte. 
        {{ else }} Sur cette page, nous vous posons quelques questions sur la PROCÉDURE {{ player.round_number }}.
        Nous sélectionnerons au hasard l'une des questions et paierons {{ C.INCENTIVE }} si votre réponse est correcte. 
        {{ endif }}
    <p>Si la question sélectionnée n'est pas pour la procédure choisie par la majorité, le résultat de la procédure sera simulée pour calculer la réponse correcte ici.</p>
    {{ endif }}

</div> 
<div> 
    <h3>Question 1</h3>
    <p> Vous avez soumis un montant de {{ wta }} dans la PROCÉDURE {{ player.round_number }}.
        Si la moitié des participants ou plus a soumis un montant supérieur, vous serez dans le groupe BLEU. Sinon, vous serez dans le groupe VERT. 
</p>
    <p> Si la PROCÉDURE {{ player.round_number }} est sélectionnée, dans quel groupe vous attendez-vous à être placé ?
        {{ formfield 'color_group'}}
    </p> 
</div> 
<div>
    <h3>Question 2</h3>
    <p>
        {{ if procedure == "Market" }}
        Les participants placés dans le groupe BLEU recevront un montant egal au plus faible montant soumis par un participant du groupe VERT (le {{ market_threshold }} plus grand sur {{ C.X_PARTICIPANTS }} montants soumis). Quel montant pensez-vous que les participants membres du groupe BLEU recevront-ils ? 
        {{ else }}
        Les participants placés dans le groupe BLEU recevront un montant egal au montant qu'ils ont soumis (les {{ C.HALF }} montants les plus faibles soumis sur {{ C.X_PARTICIPANTS }}).  Quel montant pensez-vous que les participants membres du groupe BLEU recevront-ils, en moyenne ? 
        {{ endif }}
        (une réponse correcte est à moins de {{ 10 | cu }} de la valeur exacte)
    {{ formfield 'transfer' }}
        </p>
</div>

<div class="center">
    {{ next_button }}
</div>
{{ endblock }}
