{{ extends "global/Page.html" }}

{{ block title }}Survey{{ endblock }}

{{ block content }}

<p>
    Please answer the following questions.
</p>

{{ formfields }}

<div class="center">
{{ next_button }}
</div>

{{ endblock }}
